logs
storage
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules/
.npm
.node_repl_history
*.sh
*.yml
*.gpg
.DS_Store
*.sublime-*
plugins/core/conf/config.yaml
data/
stdout
*.rdb
